/* Shared CSS classes */
@import "./colorVariables";
@import "./sizingVariables";

/* Blocks */
.form {
  &__title {
    font-size: $font-size-xlarge;
    text-align: center;
    margin-top: 0;
  }

  &__field {
    margin-bottom: $spacing-medium;
    display: flex;
    flex-direction: column;
  }

  &__label {
    font-weight: bold;
    margin-bottom: $spacing-m-medium;
  }

  &__input {
    display: block;
    padding: $spacing-m-medium;
    border: 1px solid $color-gray;
    border-radius: $border-radius-xs;
  }

  &__button {
    display: block;
    width: 100%;
    padding: $spacing-m-medium $spacing-medium;
    border: none;
    border-radius: $border-radius-xs;
    color: $color-white;
    background-color: $color-primary;
    margin: 24px auto;
  }

  /* Media queries */
  @media (min-width: 576px) {
    &__title {
      font-size: $font-size-xlarge;
    }

    &__label {
      margin-bottom: 0;
      margin-right: $spacing-medium;
    }

    &__button {
      margin-top: $spacing-small;
    }
  }
}
